# venv directory
.bmt_eval

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sample log files
*.log

# Parse CSV data
*.csv

# Visualized data
*.html

# Databases
*.db
*.sqlite
